body {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #fff8e3;
    font-size: 15px;
}

.login_container {
    margin:auto;
    border: 10px;
    width: 50%;
    border: 3px solid brown;
    padding: 10px;
    padding: 70px 0;
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
}

.user_login {
    border: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    left: auto;
    right: auto;
    width: 50px;
}

.username_box {
    margin:auto;
    padding: 10px;
    border: 10px;
}

.password_box {
    margin:auto;
    padding: 10px;
    border: 10px;
}

.login_button {
    margin:auto;
    padding: 10px;
    border: 10px;
}