h2{
  font-size: 30px;
  font-family: Tahoma, Geneva, sans-serif;
}
h1{
  font-size: 30px;
  font-family: Tahoma, Geneva, sans-serif;
}
h3 {
   font-size: 30px;
   font-family: Tahoma, Geneva, sans-serif;
}
body{
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #fff8e3;
  font-size: 20px;
}
